html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*    General */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #333E50;
    text-align: left;
    background-color: #E5E5E5;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

a {
    color: #388EC3;

}

a:hover {
    color: #95CE5A;
    text-decoration: none;
}

.secondary-text {
    font-size: 13px;
    line-height: 16px;
    color: #ADB4BF;
}

.main-button {
    background: #95CE5A;
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    border: 1px solid transparent;

}

.main-button:hover,
.main-button:focus {
    box-shadow: 0px 5px 10px rgba(149, 206, 90, 0.4);
    outline: none;
}

.main-button:focus {
    border: 1px solid #333E50;
    color: #333E50;
}

.main-button:disabled {
    background: #ADB4BF;
    color: #fff;
}

.secondary-button {
    background: #FFFFFF;
    border: 1px solid #DADEE2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.secondary-button:hover,
.secondary-button:focus {
    border: 1px solid #333E50;
}

.secondary-button:disabled {
    border: 1px solid #DADEE2;
    color: #ADB4BF;
}

.card-wrapper {
    box-shadow: 0px 4px 20px #EEF0F2;
    border-radius: 5px;
    border: none;
    background: #fff;
}

/*   Page header     */
.page-header {
    background: #FFFFFF;
    border: 1px solid #DADEE2;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
}

h1.page-header__title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin: 20px 0 15px;
}

.page-header hr {
    border-color: #E8ECEF;
    margin: 20px 0 0;
}

.page-header__subtitle {
    font-size: 14px;
    line-height: 20px;
}

.page-header__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: auto;
    white-space: nowrap;
}

.page-header__category {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 10px 0;

}

.page-header__category:after {
    content: '';
    position: absolute;
    background-color: #F1F4F7;
    width: 1px;
    height: 90%;
    bottom: 5%;
    right: 0;

}

.page-header__category:last-child:after {
    background-color: transparent;
}

.page-header__category:hover {
    background: #F8FBFE;
}

.page-header__category:hover
.page-header-category__title {
    color: #95CE5A;
}

.page-header-category__title {
    font-weight: 900;
}

.page-header-category__image {
    margin: 0 auto 10px;
}

/*   page header end     */
/* sorting */
.cards-sort {
    margin: 20px 0 2px;
}

.cards-sort__sortingwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cards-sort__right {
    display: flex;
    flex-direction: row;
}

.cards-sort__date {
    margin-right: 30px;
}

.cards-sort__pretype {
    margin-right: 6px;
}

.cards-sort__sorting .dropdown-menu {
    box-shadow: 0px 5px 15px #CFD2D6;
    border: none;
    padding: 0;
    border-radius: 5px;
    max-height: 125px;
    font-size: 1em;
    overflow: auto;
    min-width: 250px;
}

.cards-sort__sorting .dropdown-menu::-webkit-scrollbar-track {
    background: #fff;

}

.cards-sort__sorting .dropdown-menu::-webkit-scrollbar {

    width: 6px;
}

.cards-sort__sorting .dropdown-menu::-webkit-scrollbar-thumb {
    background: #DADEE2;
    border-radius: 50px;
    width: 8px;
}

.cards-sort__sorting .dropdown-item {
    color: #333E50;
    padding: 12px;
    border-bottom: 1px solid #E8ECEF;
    position: relative;
}

.dropdown-item__active:after {
    content: url("../img/check.svg");
    display: inline-block;
    position: absolute;
    right: 15px;
}

.cards-sort__sortinglist {
    border-bottom: 1px dashed;
}

.cards-sort__sortinglist:after {
    content: '>';
    display: inline-block;
    transform: scaleX(1.5) rotate(90deg);
    margin-left: 5px;
}

.cards-sort__sorting .dropdown-item:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cards-sort__sorting .dropdown-item:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cards-sort__sorting .dropdown-item:hover,
.cards-sort__sorting .dropdown-item:focus {
    color: #333E50;
    text-decoration: none;
    background-color: #F6F9FC;
}

/* sorting end */
/*   Card block     */
.card {
    padding: 20px 30px;
    margin-top: 21px;
}

.card__title {
    font-size: 18px;
    line-height: 22px;
}

.card__subtitle {
    margin-top: 5px;
}

.card__subtitle span:nth-of-type(2) {
    margin-left: 5px;
}

.card__description {
    margin-top: 12px;
    line-height: 23px;

}

.card-description__title {
    display: block;
    font-weight: 900;
    padding: 12px 15px 13px;
    border-top: 1px solid #E8ECEF;

}

.card-description__more:after {
    content: '›';
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 5px;

}

a.card-description__title:before {
    content: url(../img/down-arrow.svg);
    float: right;
    transition: all 0.5s;
}

a.card-description__title_active:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

ul.check-list {
    margin-top: 15px;
    list-style: inside url("../img/check.svg");
}

.check-list li {
    margin-bottom: 10px;
}

.card__image {
    display: flex;
    flex-direction: column;
    transform: translateY(-45px);
}

.card-image__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card-image__icon {
    margin: auto 7px;

}

.card__image,
.card__footerright {
    min-width: 240px;
    margin-left: auto;
}

.card-image__above {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.card-image__star {
    width: 16px;
    height: 15px;
    fill: #F1F4F7
}

.card-image__star_active {

    fill: #FFE26F
}

.card hr {
    margin: 25px 0 20px -15px;
    border-top: 1px solid #E8ECEF;
}

.card__parameters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__parameter {
    margin-bottom: 20px;
}

.card-parameter__numbers {
    font-size: 18px;
    line-height: 22px;
}

.card__footerright {
    text-align: center;
}

.card__footerright button {
    width: 100%;
}

.card__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card__tag {
    color: #9299A2;
    background: #FFFFFF;
    border: 1px solid #DADEE2;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 13px;
    padding: 5px 15px;
    margin: 0 5px 5px 0;
}

.card__tag_active {
    background: #FF8066;
    color: #fff;
    border-color: #FF8066;
}

.card__requestcount {
    margin-top: 23px;
}

/*   Card block  end   */
/*   pagination   */
.card-pagination-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 15px 0 30px;
}

.page-link {
    color: inherit;
    border: 1px solid #DADEE2;
    padding: 12px 19px;
}

.page-link path {
    fill: #333E50;
}

.page-item.disabled .page-link {
    background: #F7FAFC;
    border: 1px solid #DADEE2;
    color: #ADB4BF;
}

.page-item.disabled path {
    fill: #ADB4BF;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #AEB4BF;
    border-color: #DADEE2;
}

.page-link__prev {
    transform: rotate(90deg);

}

.page-link__next {
    transform: rotate(-90deg);
}

/*   pagination  end   */
/*   Card drop review   */
.card-dropreview {
    padding: 20px;
    margin-bottom: 60px;
    background: #fff url("../img/cards.png") no-repeat 97%;
    background-size: contain;
}

.card-dropreview__title {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 5px;
}

.card-dropreview__button {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/*   Card drop review  end   */
/*   responsive     */
@media (min-width: 1260px) {
    .container {
        max-width: 1230px;
    }
}

@media (min-width: 768px) {

    /*   Card block     */
    .card-description__title {
        display: none;
    }

    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }

    /*   Card block end     */
}

@media (max-width: 1200px) {
    /*   Card block     */
    .card__image,
    .card__footerright {
        min-width: auto;
        margin-left: auto;
    }

    /*   Card block  end   */
    .card-dropreview {
        background-position: 130%;
    }
}

@media (max-width: 992px) {
    .page-header__categories {
        justify-content: inherit;
    }

    .page-header__category {
        display: flex;
        min-width: 33.33%;
        width: 33.33%;
    }

    .page-header-category__image,
    .page-header-category__title {
        margin: auto;
    }

    .cards-sort__sortingwrapper {
        justify-content: left;
        flex-direction: column;
    }

    .cards-sort__date {
        margin: 0;
    }

    .cards-sort__right {
        margin: 10px 0 0;
    }

    /*   Card block     */
    .card-description__text {
        margin-bottom: 20px;
        padding: 0 15px;
    }

    .card__requestcount {
        display: none;
    }

    .card__title,
    .card__subtitle {
        text-align: center;
    }

    .card__subtitle span:not(:first-of-type) {
        display: none;
    }

    .card-image__icons,
    .card-image__above {
        display: none;
    }

    .card hr {
        display: none;
    }

    .card__image img,
    .card__footerright button {

        margin: 10px auto 10px;
    }

    .card__image {
        order: 2;
        transform: none;
    }

    .card__footerright {
        order: 3;
    }

    .card__description {
        order: 4;
        padding: 0;
    }

    .card__footerleft {
        order: 5;
        padding: 0;
    }

    /*   Card block end    */
    .card-dropreview {
        background: #fff url("../img/cards-mob.png") no-repeat right;
    }
}

@media (max-width: 768px) {
    .page-header__category {
        min-width: 50%;
        width: 50%;

    }

    /*   Card block     */
    .card {
        padding: 20px 15px;
    }

    .card__footerright button {
        max-width: 100%;
    }

    .card__parameter {
        flex: 1 1 50%;
    }

    /*   Card block end    */
    .card-dropreview {
        padding: 15px 20px;
    }

    .card-dropreview__text {
        margin: 5px 0 15px;
    }
}

@media (max-width: 576px) {
    .card-pagination-wrapper {
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
}